<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
     {% include 'includes/bootstrap/bootstrap.min.css' %}
  </style>
  <style>
     {% include 'includes/bootstrap/bootstrap-select.min.css' %}
  </style>
  <title>Report</title>
  {% include 'includes/styles.j2' %}
</head>
<body>
<div class="container">
<table class="table table-striped table-hover table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>System updates available</th>
            <th>Reboot time</th>
        </tr>
    </thead>
    <tbody>
{% for host in groups['all'] %}
        <tr>
            <td>{{hostvars[host]['ansible_fqdn']}}</td>
            <td>{{hostvars[host]['ansible_default_ipv4']['address']}}</td>
            <td>
            {% set updates_available = hostvars[host]['check_update_status_result'] %}
            {% if updates_available == '0' %}
            <span class="badge badge-pill badge-success">{{ updates_available }}</span>
            {% else %}
            <span class="badge badge-pill badge-danger">{{ updates_available }}</span>
            {% endif %}
            </td>
            <td>
            {% set reboot_sec = hostvars[host]['reboot_time'] %}
            {% if reboot_sec == '0' %}
            Not reboot
            {% else %}
            {{ reboot_sec }} sec.
            {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>

        <script>
            {% include 'includes/bootstrap/bootstrap.min.js' %}
        </script>

        <script>
            {% include 'includes/bootstrap/bootstrap-select.min.js' %}
        </script>

</body>
</html>
